{% extends "layout.html" %}

{% block body %}
    <div class="m-3">
        <h3>Results</h3>
        <p>
            The results below provide a comparison of the positivity measures of each institution, for each of the themes you selected.
            For more info on what the positivity measure means, <a href="info">see here.</a>
        </p>
    </div>
        {% for chart in charts %}
            <div class="col-md border border-primary rounded m-3">
                <h4>{{ themes[loop.index0].QUESTION_NUMBER }}</h4>
                <div class="center">
                    <img class="img-fluid" src="data:image/png;base64,{{ chart }}" alt="Comparison chart">
                </div>
            </div>
        {% endfor %}
{% endblock %}