{% extends "layout.html" %}

{% block body %}
<div class="mb-4">
    <h1 class="display-1">{{ inst1.PROVIDER_NAME }}</h1>
    <table class="table">
        <thead>
            <tr>
                <td>UKPRN</td>
                <td>Name</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ inst1.UKPRN }}</td>
                <td>{{ inst.PROVIDER_NAME }}</td>
                <td>{{ inst.town }}, {{ inst.postcode }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mb-4">
    <h1 class="display-1">{{ inst2.PROVIDER_NAME }}</h1>
    <table class="table">
        <thead>
            <tr>
                <td>UKPRN</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ inst2.UKPRN }}</td>
                <td>{{ inst2.PROVIDER_NAME }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}